server {
    listen *:80;
    server_name {{ DOMAIN }} www.{{ DOMAIN }};
    return 301 https://$host$request_uri;
}

server {
    listen *:443 http2;

    server_name {{ DOMAIN }} www.{{ DOMAIN }};

    gzip_vary on;
    gzip_proxied any;
    gzip_comp_level 6;
    gzip_buffers 16 16k;
    gzip_http_version 1.1;
    gzip_min_length 2048;
    gzip_types text/css application/javascript text/javascript application/json;
    access_log  off;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_pass http://localhost:8088;
    }
}